<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/starter.css">
    <script src="/static/viewport-scale.js" defer></script>
</head>
<body>
    <a href="/admin" title="Admin Panel">
        <img class="admin-btn" src="/static/pictures/adminpanel.png" alt="Admin Panel">
    </a>
    <video autoplay muted loop playsinline>
        <source src="/static/pictures/coffetalkbackgroundvideo.mp4" type="video/mp4">
    </video>
    <img class="menupicside" src="/static/pictures/logoomarwebsiteexamen1-removebg-preview.png" alt="Logo Side">
    <div class="menu">
        <a href="index.html">PROJECTEN</a>
        <a href="#">BEWIJZEN</a>
        <a href="#">OVER MIJ</a>
        <a href="#">OPTIONS</a>
    </div>
</body>
</html>