body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.calculator {
    max-width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    width: calc(100% - 10px);
    height: 40px;
    font-size: 20px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input[type="button"] {
    width: 60px;
    height: 60px;
    font-size: 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

input[type="button"]:hover {
    background-color: #f0f0f0;
}

.operator {
    background-color: rgb(255, 247, 0);
    color: #fff;
}

.equals {
    background-color: #af9d4c;
    color: #fff;
}
.mit {
    align-self: center;
}