
.imageContainer {
    position: relative;
    width: px;
    height: 200px;
    overflow: hidden;
}

.image {
    position: absolute;
    width: 50%;
    height: 50%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.image.visible {
    opacity: 1;
}
